
pyth.xcodeproj/xcuserdata/pashaluchkovski.xcuserdatad/xcschemes/pyth.xcscheme

pyth.xcodeproj/project.pbxproj

pyth.xcodeproj/xcuserdata/pashaluchkovski.xcuserdatad/xcschemes/xcschememanagement.plist

pyth.xcodeproj/project.xcworkspace/xcuserdata/pashaluchkovski.xcuserdatad/UserInterfaceState.xcuserstate

pyth.xcodeproj/project.xcworkspace/contents.xcworkspacedata

pyth.xcodeproj/project.xcworkspace/xcuserdata/pashaluchkovski.xcuserdatad/WorkspaceSettings.xcsettings

pyth.xcodeproj/xcuserdata/pashaluchkovski.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
